.carousel-container {
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: 1px solid #000000;
	position: relative;
}

.carousel-content {
	margin: 0;
	padding: 0;
}

.carousel-content > li {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.carousel-container li {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s linear;
}

.carousel-container li.current {
	opacity: 1;
}